h3 {
    text-align: center;
    border-bottom: 8px solid greenyellow;
    padding: 10px;
   }
.div1 {
       width: 10%;
       margin: auto;
      }
      h3 {
        text-align: center;
        border-bottom: 8px solid greenyellow;
        padding: 10px;
       }
    .div1 {
           width: 10%;
           margin: auto;
          }
          h3 {
            text-align: center;
            border-bottom: 8px solid greenyellow;
            padding: 10px;
           }
        .div1 {
               width: 10%;
               margin: auto;
              }
              h3 {
                text-align: center;
                border-bottom: 8px solid greenyellow;
                padding: 10px;
               }
            .div1 {
                   width: 10%;
                   margin: auto;
                  }

                  h3 {
                    text-align: center;
                    border-bottom: 8px solid greenyellow;
                    padding: 10px;
                   }
                .div1 {
                       width: 10%;
                       margin: auto;
                      }

                      h3 {
                        text-align: center;
                        border-bottom: 8px solid greenyellow;
                        padding: 10px;
                       }
                    .div1 {
                           width: 10%;
                           margin: auto;
                          }
                          h3 {
                            text-align: center;
                            border-bottom: 8px solid greenyellow;
                            padding: 10px;
                           }
                        .div1 {
                               width: 10%;
                               margin: auto;
                              }

                              h3 {
                                text-align: center;
                                border-bottom: 8px solid greenyellow;
                                padding: 10px;
                               }
                            .div1 {
                                   width: 10%;
                                   margin: auto;
                                  }
                                  h3 {
                                    text-align: center;
                                    border-bottom: 8px solid greenyellow;
                                    padding: 10px;
                                   }
                                .div1 {
                                       width: 10%;
                                       margin: auto;
                                      }


